
.header{
    background-color: #5B5F97;
    color:white;
}

.title{
    color: inherit;
    font-size:40px;
    font-family: 'Arbutus Slab', serif
}

.tab{
	color: inherit;
	font: inherit;
	font-family: 'Times New Roman', serif;
	font-size:25px
}

a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, .navbar-link.is-active {
    background-color: #5B5F97;
    color: white;
}

.spacing{
    height: 50px;
}

.wLink{
    color: white;
}